@import '../../scss/variables';

.Input {
  position: relative;

  .Input__TextField {
    width: 100%;
    padding: 15px 20px;

    font-size: 14px;

    border: 1px solid $gray;
    border-radius: 4px;

    color: $input_primary;

    &::placeholder {
      color: $input_primary;
    }

    &:focus {
      border-color: $input_primary_active;
      outline: none;
    }
  }


  label {
    position: absolute;
    top: 50%;
    left: 15px;

    padding: 5px;

    font-size: 14px;
    color: $input_primary_placeholder;
    cursor: text;

    transform: translateY(-50%);

    transition: all 300ms;
  }

  &.Input_active label,
  .Input__TextField:focus + label {
    top: 0 !important;
    left: 10px;

    font-size: 12px;

    background: $white;
    color: $input_primary_active;
  }

  &.Input_active label {
    color: $input_primary;
  }

  textarea {
    resize: none;
  }

  &.TextArea {
    label {
      top: 20px;
    }
  }
  &.main-input {
    width: 350px;
  }
}
