@import "../variables";

#app.admin {
  .control-block {
    margin-top: 40px;
    .control-block__line {
      display: flex;

      & + .control-block__line {
        margin-top: 40px;
      }
    }

    .control-block__line_justify-content_flex-end {
      justify-content: flex-end;
    }

    .control-block__line_justify-content_space-between {
      justify-content: space-between;
    }

    .control-block__switcher {
      margin-right: 100px;
    }

    .control-block__select {
      max-width: 300px;
      margin-right: 50px;

      &.size_l {
        max-width: 100%;
      }
    }

    .info-text {
      width: 100%;
      margin: -20px 0 0 0;

      text-align: center;

      color: $theme_color_secondary;

      font-size: 16px;
    }

    @media screen and (max-width: $screen_breakpoint) {
      .control-block_mobile_space-between {
        justify-content: space-between;
      }
    }
  }
}
