@import '../../scss/variables';

.my-form-control {
  display: flex;
  align-items: center;

  &-icon {
    flex: none;
    width: 25px;
    height: 25px;
    margin-left: 10px;
  }

  .select,
  .input {
    width: 100%;
  }

  .select {
    padding: 15px;

    .select-label {
      color: var(--placeholder);
    }

    .select-title {
      padding: 0;
    }

    .select-option {
      color: var(--dark);
    }

    ::placeholder {
      color: var(--placeholder);
    }
  }

  &.textarea {
    align-items: flex-start;

    .input-label {
      top: 20px;
    }

    .my-form-control-icon {
      margin-top: 10px;
    }
  }

  &.error {
    .select,
    input,
    textarea {
      border-color: red !important;
    }

    .input-label {
      color: red !important;
    }
  }
}
