@import '../variables';

.loginPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: $auth_page_bg;
  width: 100%;
  height: 100vh;

  &__wrapper {
    background: $white;
    padding: 50px;
    border-radius: 50px;
    width: 400px;

    @media screen and (max-width: 500px) {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__form{
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 300px;

    .my-form-control {
      margin-bottom: 10px;
    }

    .button {
      margin-bottom: 5px;
    }
  }

  .forgotPassword {
    width: 100%;
    max-width: 300px;
  }
}
