@import "src/scss/variables";

.mainPage {
  width: calc(100% - 270px);
  min-height: calc(100vh - 63px);
  padding-top: 63px;
  display: flex;
  flex-direction: column;

  &__wrapper {
    background: $app_background;
    padding: 25px 30px;
    width: 100%;
    flex-grow: 1;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $gray;
    padding: 0 5px 25px 5px;

    h3 {
      font-weight: 400;
      font-size: 26px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
    }
  }
}
