@import '../../scss/_variables';

.Actions {
  display: flex;
  justify-content: flex-end;

  .Actions-item {
    position: relative;

    font-size: 20px;
    font-weight: bold;

    margin-left: 5px;

    color: #333;
    cursor: pointer;

    & > *:not(.submenu) {
      opacity: 0.5;
    }
    &.active,
    & > *:hover:not(.submenu) {
      opacity: 1;

      svg path {
        fill: rgb(77, 77, 77);
      }
    }

    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  svg {
    width: 20px;
    height: 20px;
  }
}
