@import '../../scss/_variables';

$cell_padding: 15px 30px;
$table_min_width: 800px;

.tableContainer {
  margin-top: 25px;
  overflow-x: auto;

  background: $white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 8px 6px rgba(0,0,0,.02);
  padding: 15px;
}

.table {
  width: 100%;
  min-width: $table_min_width;
  font-size: 14px;

  thead {
    tr {
      width: 100%;

      font-weight: 500;
      color: $dark;
    }

    th {
      padding: $cell_padding;
      text-align: center;
      white-space: nowrap;
    }
  }

  .theadSort {
    th {
      cursor: pointer;
      transition: all .1s ease-in-out;

      &:hover {
        color: $table_color_hover;
      }
    }

    .th_active {
      color: $table_color_hover;
    }
  }

  tbody {
    tr {
      border-top: 1px solid $gray;
      transition: all .1s ease-in-out;

      &:hover {
        background: $lightGrey;
      }
    }

    td {
      padding: $cell_padding;
      text-align: center;

      color: $table_cell_color;

      vertical-align: middle;
    }

    .tableBoldFont {
      font-weight: 900;
    }
  }
}

.spinnerContainer {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  padding-top: 200px;
}
