$white: #ffffff;
$lightBlue: #2196f3;
$deepLightBlue: #1485dd;
$blue: #254bf3;
$blueGradient: radial-gradient(circle, rgba(20,128,214,1) 0%, rgba(9,97,166,1) 100%);
$darkBlue: #183fdb;
$veryDarkBlue: #001737;
$dark: #3c3c46;
$deepGray: #8d8d8d;
$gray: #dee2e6;
$lightGrey: #f3f3f3;

$app_background: $lightGrey;
$header_background: $white;
$auth_page_bg: $blueGradient;

$sidebar_bg: $blue;
$sidebar_btn_active: $darkBlue;

$btn_primary_bg: $lightBlue;
$btn_primary_bg_hover: $deepLightBlue;
$btn_primary_color: $white;

$input_primary: $dark;
$input_primary_placeholder: $deepGray;
$input_primary_active: $deepLightBlue;

$table_color_hover: $darkBlue;
