$white: #ffffff;
$blue: #1c45ef;
$blueGradient: radial-gradient(circle, rgba(21,57,198,1) 0%, rgba(0,119,255,1) 100%);
$darkBlue: #1539c6;
$veryDarkBlue: #001737;
$dark: #3c3c46;
$deepGray: #646464;
$gray: #eeeeee;
$lightGrey: #f3f3f3;

$app_background: $lightGrey;
$header_background: $white;
$auth_page_bg: $blueGradient;

$sidebar_bg: $blue;
$sidebar_btn_active: $darkBlue;

$btn_primary_bg_hover: $darkBlue;
$btn_primary_color: $white;

$input_primary: $dark;
$input_primary_placeholder: $deepGray;
$input_primary_active: $darkBlue;
