@import "../scss/variables.scss";

#app.admin {
  .feed-edit-page {
    display: flex;
    flex-direction: column;

    width: 100%;

    .feed-polls {
      .checkbox {
        margin-top: 20px;
      }
    }

    .dzu-dropzone {
      margin-top: 20px;
    }

    .content {
      display: flex;
      justify-content: space-between;

      width: inherit;
      margin-top: 50px;
      .block {
        width: 50%;
        &.preview {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .count {
          margin-top: 5px;
          margin-left: 10px;

          color: gray;

          font-size: 12px;
        }
      }

      @media screen and (max-width: 1099px) {
        flex-direction: column;
        .block.preview {
          margin-top: 20px;
        }
      }
    }
  }
}
