@import './reset.scss';
@import './authorization.scss';
@import './app.scss';
@import './components.scss';

:root {
  --second: #172345;
}

@font-face {
  font-family: 'San Francisco Text Light';
  src: url('../fonts/SFUIText-Light.eot');
  src: url('../fonts/SFUIText-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFUIText-Light.woff') format('woff'),
  url('../fonts/SFUIText-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

  @font-face {
    font-family: 'San Francisco Text Semibold';
    src: url('../fonts/SFUIText-Light.eot');
    src: url('../fonts/SFUIText-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUIText-Semibold.woff') format('woff'),
    url('../fonts/SFUIText-Semibold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    }
