@import "variables";

#app.admin {
  .orders-page {
    .export-controls{
      margin-top: 50px;
      & > * {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        &:last-child{
          margin-bottom: 0px;
        }
        .inputs-block{
          display: flex;
          align-items: center;
          .input{
            margin-left: 10px;
          }
        }
      }
    }
  }
}
