#app.admin {
  .word-cloud {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    .tag-cloud {
      //max-width: 500px;

      > div {
        transition: 1.4s;
      }
    }
  }
}
